@charset "UTF-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.banner {
    width: 100%;
    height: auto;
}

.header {
    max-width: 100%;
    height: 75px;
    width: 100%;
    background-color: #ffffff;
}

.container-fulid {
    max-width: 960px;
    width: 100%;
    margin: auto;
    clear: both;
}

.logo {
    font-size: 19px;
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3e3c3c;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    float: left;
    text-decoration: none;
    padding-right: 20px;

}

.logorightborder {
    border-right: 1px solid #6f6f6f;
    padding: 0px 20px 0px 20px;
}



ul.menu {
    list-style: none;
    float: left;
    font-size: 13px;
    color: #b0b0b0;
    font-weight: normal;
    line-height: 74px;
    cursor: pointer;
}

ul.menu li {
    display: inline-block;
    padding: 0px 6px 0px 6px
}

ul.menu li a {
    color: #b0b0b0;
    text-decoration: none;
}

ul.menu li a:hover {
    color: #92afbd;
}

ul.cart {
    list-style: none;
    float: right;
    font-size: 16px;
    margin-top: 22px;
    margin-right: 30px;
    cursor: pointer;
}

ul.cart li {
    dispaly: inline-block;
}


.responsive {
    width: 100%;
    height: auto;
}



.column {
    float: left;
    width: 30.30%;
    max-width: 100%;
    padding: 20px;
    margin: 40px 10px 40px 10px;
    border: 1px solid #CCCCCC;
    height: 250px;
    text-align: center
}

.product-image {
    width: 50%;
    max-width: 114px;
    height: auto;

}

.latestproduct {
    font-size: 20px;
    color: #3e3c3c;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 30px;
}

.product-title {
    font-size: 12px;
    color: #b9b9b9;
    text-transform: uppercase;
    margin-top: 12px;
}

sup {
    font-size: 10px;
    color: #605F5F;
}



ul.brandimage {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul.brandimage li {
    margin-top: 45px;
    padding-right: 13px;
}


.column1 {
    float: left;
    width: 20%;
    display: block;
    padding: 20px 20px 20px 20px;


}