@import"mathvariable";


.font-size {
  font-size: $font-size;
}

.font-size-sm {
  font-size: $font-size-sm;
}


.font-size-md {
  font-size: $font-size-md;
}

.font-size-lg {
  font-size: $font-size-lg;

}

.font-size-xlg {

  font-size: $font-size-xlg;

}
