@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url(../fonts/OpenSans-Regular-webfont.eot);
  src: url(../fonts/OpenSans-Semibold-webfont.eot);
  src: url(../fonts/OpenSans-Regular-webfont.woff);
  src: url(../fonts/OpenSans-Semibold-webfont.woff);
}