@import "variable";
@import"mixin";
@import "topbar";
@import "categary";
@import "collection";
@import "footer-links";
@import"font";




* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

.container {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.wrapper {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.responsive {
  width: 100%;
  height: auto;
}

.logo {
  font-size: 26px;
  text-decoration: none;
  color: #000;
}

.h5 {
  color: #ff5d68;
  font-size: 13.28px;
  font-weight: bold;
}

.normal {
  font-weight: normal;
  font-size: 12px;
}

.image-container {
  width: 100%;
  position: relative;
}

.banner-text-container {
  position: absolute;
  text-align: center;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);

  .h1 {
    color: #143a51;
    font-size: 70px;
  }
}

.button-container {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.buybutton {
  width: 150px;
  background: #143a51;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 15px;
  padding: 15px 16px;

  &:hover {
    background: #ff5d68;
  }
}

.contactbutton {
  background: #ff5d68;
  @extend.buybutton;

  &:hover {
    background: $myhovercolor;
  }
}

.cp {
  @include bd-border(#ccc, 1px);
  margin-top: 40px;
  flex: 2 0 100%;
  padding: 2em;
  @extend.collection;
}

.cp-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  line-height: 30px;
}

.mainclothe {
  @include bd-border(#ccc, 1px);
  @extend.collection;
  margin-top: 40px;
  flex: 2 0 100%;
  padding-left: 2em;
}

.women {
  @extend.collection;
  align-items: center;
}

.text {
  font-size: 46px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.buybutton {
  background: #ff5d68;
  width: 150px;
  margin-top: 30px;

  .wbutton {
    @extend.buybutton;
  }

  &:hover {
    background: $myhovercolor;
  }
}

.image {
  vertical-align: bottom;
}

.footer {
  background-color: #143a51;
  padding: 70px 0;
  color: #fff;
  margin-top: 5%;
}

.footerflex {
  @extend.flex-container;
}

.footer-col-1 {
  display: flex;
  justify-content: space-between;
}

.icon {
  @extend.collection;
  text-transform: none;
}

.ftext {
  font-size: 46px;
}

.main {
  text-align: center;
  margin: 60px;
  font-size: 42px;
  font-weight: bold;
}

.mr-5 {
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .banner-text-container {
    .h1 {
      font-size: 20px;
    }
  }

  .button-container {
    top: 82%;
  }

  .buybutton {
    width: 90px;
    font-size: 11px;
    padding: 9px 5px;
  }

  .dropdown-content {
    top: 6%;

    a {
      padding: 2px 3px;
      display: block;
    }
  }

  .collection-border {
    flex: .2 0 auto;
  }

  .footer-col {
    width: 100%;
    text-align: center;

    .address {
      margin: auto;
    }

    .h4 {
      margin: 20px;
    }
  }

  .collection {
    flex-wrap: wrap;
  }

  .cp {
    flex-wrap: wrap;
  }

  .cp.mainclothe {
    flex-wrap: wrap;
    height: auto;
    text-align: center;
  }

  .women {
    flex-wrap: wrap;
    height: auto;
    text-align: center;
  }

  .women.text {
    font-size: 26px;
    margin-bottom: 10px;
  }

  .bar {
    display: block;
    position: absolute;
    right: 0px;

    a {
      color: #fff;
    }
  }

  .footer-col-1 {
    flex-direction: column;
    text-align: center;
  }

  .footer-col.icon {
    text-align: center;
    width: 100%;
  }

  ul.navbar {
    display: none;
    width: 100%;
    top: 100%;
    text-align: center;
    background-color: #143a51;
    position: relative;
    z-index: 1;

    li {
      display: block;
      padding: 14px 14px;
      border-bottom: 1px solid #fff;

      a {
        color: #fff;
      }
    }
  }

  .categary {
    position: absolute;
    top: 29%;
    left: 22%;
    transform: translate(-50%, -50%);
  }

  ul.topicon {
    li {
      a {
        margin-right: 2px;
      }
    }
  }

  .footer-col-2 {
    width: 100% !important;

  }

  .cp-text {
    flex-direction: row;
    justify-content: space-around;
  }

  .mainclothe {
    flex-wrap: wrap;
    padding: 2em;
    text-align: center;
  }
}


@media (min-width: 768px) and (max-width:1024px) {
  ul.navbar {
    font-size: 11px;
  }

  .cat {
    font-size: 19px;
  }

  .wrapper {
    width: 90%;
  }

  .dropdown-content {
    top: 5%;

    a {
      padding: 5px 5px;
    }
  }

  .banner-text-container {
    .h1 {
      font-size: 36px;
    }
  }

  .cp {
    padding: 1em;
  }

  .collection-text-container {
    flex-direction: column;
  }

  .image {
    vertical-align: bottom;
  }

  button-container {

    top: 83%;
  }

  .mainclothe {
    padding-left: 20px;
    padding-right: 0;
  }

  .buybutton.wbutton {
    width: 110px;
    margin-top: 10px;
  }

  .text {
    font-size: 21px;
    margin-bottom: 20px;
  }

  .women {
    flex-wrap: nowrap;
    height: auto;
  }

  .collection-cart-button {
    width: 85px;
    font-size: .6em;
    margin-bottom: 5px;
  }

  .collection-border {
    padding: 1em;
  }

  .mt-5 {
    font-size: .5em;
  }

  .footer-col-2 {
    width: 40% !important;
    padding: 0 15px !important;
  }

  .footer-col {
    .address {
      width: 300px;
      padding-right: 6em;
    }
  }

  .main {
    margin: 30px;
    font-size: 32px;
  }
}


@media (max-width: 812px) and (orientation:landscape) {
  .dropdown-content {
    top: 13%;

    a {
      padding: 2px 3px;
      display: block;
    }
  }

}

@media (min-width: 1024px)and (max-width: 1366px) {
  .banner-text-container {
    .h1 {
      font-size: 56px;
    }
  }

  footer-col-2 {
    width: 80% !important;
    padding: 0 15px !important;
  }


  .text {
    font-size: 33px;
  }

  .cp {
    height: 100%;
    padding-bottom: 20px;
  }

  .main {
    margin: 30px;
    font-size: 32px;
  }

  ul.navbar {
    font-size: 17px;
  }

  .dropdown-content {
    top: 50px;

    a {
      padding: 5px 5px;
    }
  }

  .footer-col-2 {
    width: 30% !important;
  }

}
